.structure__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}

@media screen and (max-width: 1024px) {
    .structure__column {
        
    }
}