.button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    
    min-width: 150px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
   
    border: none;
    border-radius: 25px;
    background: transparent;
    background-color: rgba(255, 166, 0, 0.7);

    cursor: pointer;
    transition: background-color 0.5s ease-in;
}

.button:hover {
    background-color: rgba(255, 166, 0, 0.4);
}