.product {
    max-width: 1280px;

    padding-top: 50px;
    padding-bottom: 100px;

    background: -webkit-linear-gradient(145deg, #ffd977,rgba(0, 0, 0, 0.3));
    background: linear-gradient(145deg, #ffd977,rgba(0, 0, 0, 0.3));
}